In [14]:
import pandas as pd
import nltk
from nltk.corpus import stopwords

In [5]:
tr_f = './Data/train.tsv'
train = pd.DataFrame.from_csv(tr_f, sep='\t')
train.head()

,SentenceId,Phrase,Sentiment
PhraseId,,,
1,1,A series of escapades demonstrating the adage ...,1
2,1,A series of escapades demonstrating the adage ...,2
3,1,A series,2
4,1,A,2
5,1,series,2

In [11]:
ratios = train.groupby('Sentiment').count()
ratios.drop(['Phrase'], axis=1, inplace = True)
ratios.columns = ['Count']
ratios

           Count
Sentiment
0           7072
1          27273
2          79582
3          32927
4           9206

In [26]:
english_sw = stopwords.words('english')

def tokenize_stopwords(df):
    tokens = nltk.word_tokenize(df['Phrase'])
    return [t for t in tokens if t not in english_sw]

In [27]:
train['Phrase'] = train.apply(tokenize_stopwords, axis=1)

In [28]:
train.head()

,SentenceId,Phrase,Sentiment
PhraseId,,,
1,1,"[A, series, escapades, demonstrating, adage, g...",1
2,1,"[A, series, escapades, demonstrating, adage, g...",2
3,1,"[A, series]",2
4,1,[A],2
5,1,[series],2